<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container">
      <h1>Salut <%= @user.first_name %> et bienvenue sur PAC EventBrite !</h1>
      <p>
        Tu t'es inscrit sur PAC EventBrite en utilisant l'e-mail suivant : <%= @user.email %>.
      </p>
      <p>
        Pour accéder à la liste des évènements près de chez toi
      </p><br>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="border-radius: 3px;"><a href="<%= @url %>" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 3px; padding: 12px 18px; border: 1px solid #5b3066;background-color: #5b3066;">CLIQUE SALOPE CLIQUE &rarr;</a></td>
              </tr>
            </table>
          </td>
        </tr>
      </table><br>
      <p>A bientot</p>
      <p>Merci de toute l'équipe PAC EventBrite</p>
    </div>
  </body>
</html>